@import "tailwindcss";

@theme {
  --color-primary-100: #e5b8ff;
  --color-primary-300: #b57aff;
  --color-primary-500: #6c10a9; /* hover states, ícones ativos */
  --color-primary-700: #4a0b78; /* texto sobre fundo claro, dark mode accents */

  --color-dark-100: #000000;
  --color-dark-200: #0f1117;
  --color-dark-300: #151821;
  --color-dark-400: #212734;
  --color-dark-500: #101012;

  --color-light-400: #858ead;
  --color-light-500: #7b8ec8;
  --color-light-700: #dce3f1;
  --color-light-800: #f4f6f8;
  --color-light-850: #fdfdfd;
  --color-light-900: #ffffff;

  --color-link-100: #a78bfa;
  --color-link-200: #1da1f2;
}
